
	<div id="header">
	<h1>PHOTONICS RESEARCH LABORATORY</h1>
	<h2 id = "ece">SCHOOL OF ECE, UNIVERSITY OF TEHRAN</h2>
		<!--<a href="index.html" id="logo">
			<%=image_tag "logo.jpg", {:alt => "LOGO" }%> 
		</a>--><br>
		<br>
		<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Home</span></a></li>
   <li><a href='#'><span>Research</span></a></li>
   <li><a href='#'><span>Publications</span></a></li>
   <li><a href='#'><span>Group</span></a></li>
   <li><a href='#'><span>Alumni</span></a></li>
   <li><a href='#'><span>Gallery</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
